.footer{
    background-color: #343A40;
    color: #FFA000;
}
.row{
    margin: 0px;
}
[class*="col-"]{
    padding: 5px 15px;
    
}
.erreur{
    color: red;
    padding: 5px;
    border: 1px solid red;
}
h1{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fff
}

.linebar {
    width: 100%;
    border: solid 2px #FBA63B;
    display: inline-block;
    
}
.navlinkcolor{color:#FFA000;}
.navlinkcolor:hover{color: #FFA000;}
.red{color: red;}
.red:hover{color: red;}
#plan{
    width: 50%;
}
.taillePhotoS{
    width:auto;
    max-height: 200px;
}

@media screen and (max-width: 575px)
{
    .linebar{
        display: none;
        border:none;
    }

}
@media screen and (max-width: 767px)
{
    
    #plan{
        width: 100%;
    }
}


