.footer{
    background-color: #343A40;
    color: #FFA000;
}
.row{
    margin: 0px;
}
[class*="col-"]{
    padding: 5px 15px;
    
}
.erreur{
    color: red;
    padding: 5px;
    border: 1px solid red;
}
h1{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #fff
}
.ZPad{padding: 0px;}
.linebar {
    width: 100%;
    border: solid 2px #FBA63B;
    display: inline-block;
    
}
.bouton{background-color: orange;
    border-radius: 20px;}
.navCol{background-color: orange;
    border-radius: 20px;}
.navLink{color:#262626;}
.navLink:hover{color:#FFDB96;background-color: #B27600;border-radius: 20px;}
.navlinkcolor{color:#FFA000;}
.navlinkcolor:hover{color: #FFA000;}
.greenL{color:#99CC00;}
.Cred, .linkred{color: red;}
.linkred:hover{color: red;}
#plan{
    width: 50%;
}
.taillePhotoS{
    width:auto;
    max-height: 200px;
}
.boxL{background-color: orange;
padding: 15px;
border-radius: 20%;
color:#004AB2;}
h1, h2, h3, h4, h5, h6{font-weight:bold;}

@media screen and (max-width: 575px)
{
    .linebar{
        display: none;
        border:none;
    }

}
@media screen and (max-width: 767px)
{
    
    #plan{
        width: 100%;
    }
}
figcaption{
    font-size:x-small;
    margin:auto;
    text-align:center;
}


